// all
/////////////////////////////////////////////
*,
*:before,
*:after {
  box-sizing: border-box;
}

// base body styles
/////////////////////////////////////////////
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: $white;
  color: $black;
  // font-family: 'Sample_Font_Face', sans-serif;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  height: 100%;
  margin: 0;
  padding: 0;
  position: relative;
  width: 100%;
}

/////////////////////////////////////////////
// helper classes
/////////////////////////////////////////////

// display
/////////////////////////////////////////////
.display-none { display: none; }

// margin
/////////////////////////////////////////////
.m-0 { margin: 0; }

.mb-0 { margin-bottom: 0; }
.mb-4 { margin-bottom: 4px; }
.mb-8 { margin-bottom: 8px; }
.mb-16 { margin-bottom: 16px; }

.ml-0 { margin-left: 0; }
.ml-4 { margin-left: 4px; }
.ml-8 { margin-left: 8px; }
.ml-16 { margin-left: 16px; }

.mr-0 { margin-right: 0; }
.mr-4 { margin-right: 4px; }
.mr-8 { margin-right: 8px; }
.mr-16 { margin-right: 16px; }

.mt-0 { margin-top: 0; }
.mt-4 { margin-top: 4px; }
.mt-8 { margin-top: 8px; }
.mt-16 { margin-top: 16px; }

// padding
/////////////////////////////////////////////
.p-0 { padding: 0; }
.p-4 { padding: 4px; }
.p-8 { padding: 8px; }
.p-16 { padding: 16px; }
.p-32 { padding: 32px; }

.pb-0 { padding-bottom: 0; }
.pb-4 { padding-bottom: 4px; }
.pb-8 { padding-bottom: 8px; }
.pb-16 { padding-bottom: 16px; }
.pb-32 { padding-bottom: 32px; }

.pl-0 { padding-left: 0; }
.pl-4 { padding-left: 4px; }
.pl-8 { padding-left: 8px; }
.pl-16 { padding-left: 16px; }
.pl-32 { padding-left: 32px; }

.pr-0 { padding-right: 0; }
.pr-4 { padding-right: 4px; }
.pr-8 { padding-right: 8px; }
.pr-16 { padding-right: 16px; }
.pr-32 { padding-right: 32px; }

.pt-0 { padding-top: 0; }
.pt-4 { padding-top: 4px; }
.pt-8 { padding-top: 8px; }
.pt-16 { padding-top: 16px; }
.pt-32 { padding-top: 32px; }

// width
/////////////////////////////////////////////
.width-10 { width: 10%; }
.width-20 { width: 20%; }
.width-25 { width: 25%; }
.width-33 { width: 33.333334%; }
.width-50 { width: 50%; }
.width-100 { width: 100%; }
