/////////////////////////////////////////////
// global variables
/////////////////////////////////////////////

// animation
/////////////////////////////////////////////
$animationDur: 1000ms;

// colors
/////////////////////////////////////////////
$black: #000;
$white: #fff;

// breakpoints
/////////////////////////////////////////////
$screen-xs: 350px;
$screen-sm: 600px;
$screen-md: 900px;
$screen-lg: 1200px;
$screen-xl: 1800px;

// set grid array
/////////////////////////////////////////////
$grid-breakpoints: (
  xs: $screen-xs,
  sm: $screen-sm,
  md: $screen-md,
  lg: $screen-lg,
  xl: $screen-xl
);
